.footers{
    color: rgb(22, 22, 22);
    /* background-color: rgb(30, 30, 133); */
    /* min-height: 25vw; */
    /* text-align: center; */
    padding: 3vw;
    border-top: 1px solid rgb(211, 227, 248);
}

.spanletter{
    color: black;
}

.palign{
    margin: 1vw;
    font-size: 1.5vw;
}

.align{
    margin: 1vw;
    font-size: 1.5vw;
}

.alignspan{
    /* margin: 1vw; */
    font-size: 1vw;
}

.alignheader{
    margin: 1vw;
    font-size: 1.7vw;
    font-weight: bold;
}

.content{
    text-align: center;
    margin-top: 1vw;
}

.footerdiv{
    padding: .5vw;
    /* background: rgb(109, 219, 241);
  background: linear-gradient(
    10deg,
    rgba(109, 219, 241, 0.8724421653426996) 0%,
    rgba(44, 166, 192, 0.8444309608609069) 13%,
    rgba(28, 137, 161, 1) 43%,
    rgba(7, 91, 112, 1) 99%); */

    background: rgb(109,219,241);
background: linear-gradient(50deg, rgba(109,219,241,0.8724421653426996) 0%, rgba(44,166,192,0.8444309608609069) 19%, rgba(28,137,161,1) 94%);
}

.icon{
    font-size: 2vw;
    color: whitesmoke;
    /* box-shadow: 0px 0px 5px 1px rgb(7, 7, 136); */
}