.title{
    margin: 8vw;
    text-align: center;
}

.para{
    font-size: 2vw;
    margin: 1vw;
    text-align: center;
    font-style: italic;
}

.headfont{
    font-size: 1.5vw;
    font-weight: bold;
}

.bimage{
    width: 100vw;
    height: 25vw;
    opacity: 0.6;
    /* margin-top: 20vw; */
}

.opac{
    opacity: 0.8;
}

.practicehead{
    font-size: 2vw;
    margin: 2vw;
}